.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Catalyst
      .container.nav-collapse
        %ul.nav
          %li{ :class => active_tab_activity }= link_to "Activity"
          %li{ :class => active_tab_lead }= link_to "My Leads"
        %p.navbar-text.pull-right

          Welcome,
          = link_to "ADMIN"
          = link_to "Sign out"

